@import 'scss/variables';

.laGaleria {
    a {
       &:hover {
            opacity: 0;
            animation-name: bounceIn;
            animation-duration: 1.0s;
            animation-timing-function: linear;
            animation-fill-mode: forwards;
            animation-delay: 0.3s;
          
          }
          @keyframes bounceIn{
              0%{
                opacity: 0;
                
              }
              50%{
                opacity: 0.9;
                transform: scale(1.5);
              }
              80%{
                opacity: 1;
                transform: scale(1.6);
              }
              100%{
                opacity: 1;
                transform: scale(1.0) translate3d(0,0,0);
              }
            }
       } 
        
    }

