@import 'scss/variables';

div {
    .tituloIndex {
        font-family: 'Staatliches', cursive;
        letter-spacing: 4px;
        word-spacing: 2px;
        color:$color;
        font-size: 65px;
        font-weight: bolder;
        text-align: start;
        margin: 1rem;
        padding: 2px;
        background: $fondoOpaco;
        opacity: 0.7;
            .abajito {
                font-size: 50px;
                font-weight: bold;
                color: $color;
                text-align: end;
                    .imagenDeRevelado {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }
                    }
            }
        }
      
div {
    .carrusel {
        width: 80%;
        .carousel-item {
            height: 500px;
            .item img {
                position: absolute;
                object-fit: cover;
                top: 0;
                left: 0;
                min-height: 500px;
            }
        }
    }
}

div { 
       display: flex;
        align-items: center;
        justify-content: space-between;
    .preservar {
        color: $color;
        font-size: 20px;
        padding: 2px;
        margin: 7px;
        text-align: justify;
        text-justify: distribute;
        font-family: 'Roboto Mono', monospace;
}
}
div {
    .mujeresEn {
        color:#eee;
        font-size: 35px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

