$color: #603A3B;
$padding: 7px;
$negro: #1a1a1a;
$gris: gray;
$colorsecundario: #211A19;

$cuadros:(
            "color": $color,
            "negro": $negro,
            "gris": $gris,
);

@mixin centrado {
    display: flex;
    justify-content: center;
    align-items: center;
}
@mixin cuadroshome {
    background-repeat:no-repeat;
    background-size:cover;
    text-align: center;
    display:flex;
    align-items: center;
    justify-content: center;
    opacity: 0.9;
    font-weight: 900;  
}

