
body {background-color: #A9C7DA;}

header {background-color: #1A5276;
        text-align: center;
        font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        padding: 20px;
        letter-spacing: 1.5px;
        color: #AFBFD1;
        border-radius: 5px;
        font-size: large;}




header th {border-radius: 2px}
h1      {font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;}
ol      {font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        letter-spacing: 1px;
        }
th      {text-align: center;}

form {text-align: center;
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;}

table {
        background-color: #1A5276;
        color: #AFBFD1;
        border-radius: 5px;
        ;
}
.piedepagina {word-spacing: 8px;
                font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;}
.aprendo th {text-align: center}

hr {color: green;}
